In [23]:
import pandas as pd

In [24]:
df_store = pd.read_csv(r"C:\Users\ephre\Documents\Rossmann-Pharmaceuticals-Finance-1\Data\Raw_Data\store.csv")
df_store.sample(7)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
508,509,a,a,4740.0,7.0,2008.0,1,37.0,2009.0,"Jan,Apr,Jul,Oct"
1023,1024,c,c,1990.0,1.0,2012.0,0,NaN,NaN,NaN
393,394,d,a,10850.0,NaN,NaN,0,NaN,NaN,NaN
62,63,c,c,3700.0,6.0,2010.0,1,18.0,2010.0,"Feb,May,Aug,Nov"
112,113,d,c,20930.0,11.0,1999.0,0,NaN,NaN,NaN
786,787,c,c,3210.0,6.0,2009.0,0,NaN,NaN,NaN
416,417,a,c,840.0,NaN,NaN,1,10.0,2014.0,"Jan,Apr,Jul,Oct"

In [25]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [26]:
df_store.describe()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,1115.00000,1112.000000,761.000000,761.000000,1115.000000,571.000000,571.000000
mean,558.00000,5404.901079,7.224704,2008.668857,0.512108,23.595447,2011.763573
std,322.01708,7663.174720,3.212348,6.195983,0.500078,14.141984,1.674935
min,1.00000,20.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000
25%,279.50000,717.500000,4.000000,2006.000000,0.000000,13.000000,2011.000000
50%,558.00000,2325.000000,8.000000,2010.000000,1.000000,22.000000,2012.000000
75%,836.50000,6882.500000,10.000000,2013.000000,1.000000,37.000000,2013.000000
max,1115.00000,75860.000000,12.000000,2015.000000,1.000000,50.000000,2015.000000

In [27]:
df_store.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [28]:
df_store["CompetitionDistance"] = df_store["CompetitionDistance"].ffill().bfill()
df_store["CompetitionOpenSinceMonth"] = df_store["CompetitionOpenSinceMonth"].ffill().bfill()
df_store["CompetitionOpenSinceYear"] = df_store["CompetitionOpenSinceYear"].ffill().bfill()

In [29]:
df_store["Promo2SinceWeek"] = df_store["Promo2SinceWeek"].fillna(df_store["Promo2SinceWeek"].median())  # Imputing with median week
df_store["Promo2SinceYear"] = df_store["Promo2SinceYear"].fillna(df_store["Promo2SinceYear"].median())  # Imputing with median week

In [30]:
df_store["PromoInterval"] = df_store["PromoInterval"].ffill().bfill()

In [31]:
# Save the cleaned dataset to a CSV file
df_store.to_csv(r"C:\Users\ephre\Documents\Rossmann-Pharmaceuticals-Finance-1\Data\Raw_Data\cleaned_Store_dataset.csv", index=False)